In [106]:
import json

import pandas as pd
import numpy as np

In [107]:
df_init = pd.DataFrame({ 'a':['A', 'A', 'B', 'B', 'B', 'C'], 
                         'b':[1, 2, 5, 5, 4, 6],
                         'c': ['a', 'b', 'a', 'b', 'a', 'c']
                        })
df_init

   a  b  c
0  A  1  a
1  A  2  b
2  B  5  a
3  B  5  b
4  B  4  a
5  C  6  c

In [108]:
df = df_init.groupby('a', as_index=False).aggregate(lambda x: list(x))
df

   a          b          c
0  A     [1, 2]     [a, b]
1  B  [5, 5, 4]  [a, b, a]
2  C        [6]        [c]

In [109]:
df_t = pd.DataFrame.transpose(df)
df_t

        0          1    2
a       A          B    C
b  [1, 2]  [5, 5, 4]  [6]
c  [a, b]  [a, b, a]  [c]

In [110]:
json_string = df_t.to_json()
json_string

'{"0":{"a":"A","b":[1,2],"c":["a","b"]},"1":{"a":"B","b":[5,5,4],"c":["a","b","a"]},"2":{"a":"C","b":[6],"c":["c"]}}'

In [111]:
json.loads(json_string)

{'0': {'a': 'A', 'b': [1, 2], 'c': ['a', 'b']},
 '1': {'a': 'B', 'b': [5, 5, 4], 'c': ['a', 'b', 'a']},
 '2': {'a': 'C', 'b': [6], 'c': ['c']}}

In [112]:
df_t.to_json('data.json')

In [113]:
!ls

clean-stations.ipynb  Draft.ipynb		     import-stations-mongo.sh
data.json	      emplacement-des-gares-idf.csv  stations.csv

In [114]:
!more data.json

{"0":{"a":"A","b":[1,2],"c":["a","b"]},"1":{"a":"B","b":[5,5,4],"c":["a","b","a"
]},"2":{"a":"C","b":[6],"c":["c"]}}